*{
    font-family: "Nunito Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings:
        "wdth" 100,
        "YTLC" 500;
    box-sizing: border-box;
}

body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
}
body{
    background-color: #000;
}

h2{
    font-size: 40px;
    font-weight: 900;
    margin-bottom: 0;
    user-select: none;
}

h2 b{
    color: #007fd4;
    font-weight: 900;
}

p{
    font-size: 24px;
    font-weight: 700;
    user-select: none;
}

.content{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0 75px;
    position: relative;
    z-index: 1;
    color: white;
    text-align: center;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    justify-content: center;
}

.content svg{
    width: 100%;
    max-width: 550px;
    height: 550px;
}

.video-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: -1;
    filter: brightness(100%) contrast(100%) saturate(100%) blur(30px) hue-rotate(0deg);

}
.video-background video {
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.countdown{
    display: flex;
    justify-content: center;
    gap: 40px;
    margin-bottom: 60px;
    margin-top: 40px;
}

.countdown-item{
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.countdown-item__number{
    background-color: #16161663;
    width: 82px;
    height: 100px;
    border-radius: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    font-size: 24px;
    letter-spacing: 2px;
    text-align: center;
    user-select: none;
}

.countdown-item span{
    font-size: 16px;
    color: #fff;
    font-weight: 700;
    user-select: none;
}

.btn{
    text-decoration: none;
    color: #fff;
    font-size: 20px;
    font-weight: 700;
    background-color: #007fd4;
    border-radius: 16px;
    padding: 18px 46px;
    display: inline-flex;
}

.btn:hover{
    background-color: #0065a8;
}

.social-networks{
    position: absolute;
    bottom: 100px;
    display: flex;
    gap: 16px;
    left: 0;
    right: 0;
    justify-content: center;
}

.social-networks a{
    display: flex;
    align-items: center;
    gap: 16px;
    color: #fff;
}

.btn.disabled{
    opacity: .5;
    cursor: not-allowed;
}

.modal {
    display: block; /* Show modal by default */
    position: fixed;
    z-index: 2;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal-content {
    position: relative;
    margin: auto;
    padding: 20px;
    width: 80%;
    max-width: 480px;
}

.modal-image {
    width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
    border-radius: 16px;
}

.overlay {
    position: fixed;
    display: block; /* Show overlay by default */
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    cursor: pointer;
}

.close {
    position: fixed;
    top: 10px;
    right: 20px;
    font-size: 40px;
    color: white;
    cursor: pointer;
}

.organiza{
    position: fixed;
    right: 20px;
    bottom: 20px;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 12px;
}

h2{
    display: flex;
    align-items: center;
    position: relative;
    justify-content: center;
    width: max-content;
    margin: auto;
    gap: 8px;
}

.dscto{
    font-size: 14px;
    color: #fff;
    background-color: #c9002e;
    border: 2px solid #c9002e;
    border-radius: 5px;
    padding: 2px 6px;
    display: inline-flex;
    height: max-content;
    position: absolute;
    left: calc(100% + 8px);
    white-space: nowrap;
}

@media screen and (max-width: 780px) {

    .content > img{
        max-width: 300px;
    }
    .organiza{
        position: relative;
        bottom: unset;
        right: unset;
        margin-top: 40px;
    }
    .dscto{
        position: relative;
        left: unset;
        display: block;
        width: max-content;
        margin: 10px auto 0;
    }
    h2{
        display: block;
    }
    .social-networks{
        flex-direction: column;
        position: relative;
        bottom: unset;
        left: unset;
        right: unset;
        max-width: 188px;
        margin: auto;
    }
    .content{
        transform: unset;
        top: 0;
        padding: 0;
        flex-direction: column;
        margin-bottom: 40px;
    }

    .content > div{
        width: 100%;
    }

    .content svg{
        height: auto;
        max-width: 200px;
    }

    body{
        overflow-y: visible;
        padding: 40px 20px;

    }

    h2{
        font-size: 28px;
    }

    p{
        font-size: 16px;
        max-width: 450px;
        margin-left: auto;
        margin-right: auto;
    }

    .btn{
        font-size: 18px;
    }

    .countdown-item__number{
        font-size: 18px;
        width: 63px;
        height: 85px;
    }

    .countdown-item span{
        font-size: 14px;
    }

    .countdown{
        gap: 30px;
    }

    .modal-content{
        width: 98%;
    }
}